* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

@font-face {
    font-family: "Kongtext";
    src: url(../fonts/kongtext.ttf);
}

body {
    /* width: 100vw; */
    background: #f9f9f9;
    overflow: hidden;
}

.main {
    position: relative;
    width: 100%;
    height: 500px;
    min-width: 800px;
    border-bottom: 3px solid #0173c7;
    color: #0173c7;
    font-family: "Kongtext";
}

.dino {
    position: absolute;
    bottom: -40px;
    left: 50px;
    width: 110px;
    height: 110px;
    background-image: url(../images/dino-still.png);
    background-position: center;
    background-size: contain;
    z-index: 9000;
}

.dino-1 {
    background-image: url(../images/dino-1.png);
}

.dino-2 {
    background-image: url(../images/dino-2.png);
}

.dino-still {
    background-image: url(../images/dino-still.png);
}

.dino-down-1 {
    background-image: url(../images/dino-down-1.png);
}

.dino-down-2 {
    background-image: url(../images/dino-down-2.png);
}

.scores {
    position: absolute;
    text-align: right;
    bottom: 200px;
    right: 50px;
    font-size: 36px;
}

.score_high, .score_title {
    /* opacity: .6; */
    /* color: #5495c4; */
    color: #519FD8;
}

.ground {
    position: absolute;
    right: -100px;
    bottom: -23px;
    height: 20px;
    width: max-content;
}

.rock {
    display: inline-block;
    position: relative;
    vertical-align: top;
    background-color: #0173c7;
    width: 5px;
    height: 4px;
}

.bump {
    display: inline-block;
    position: relative;
    height: 4px;
    width: 5px;
}

.bump::after {
    content: "";
    display: inline-block;
    position: relative;
    top: -13px;
    height: 18px;
    width: 80px;
}

.bump-1::after {
    background: #f9f9f9 url(../images/bump-1.png);
}

.bump-2::after {
    background: #f9f9f9 url(../images/bump-2.png);
}

.sky {
    position: absolute;
    right: -120px;
    bottom: 110px;
    height: 100px;
    width: max-content;
}

.sky-piece {
    position: relative;
    display: inline-block;
    width: 5px;
    height: 5px;
    top: 20px;
}

.cloud::after {
    content: "";
    display: block;
    width: 112px;
    height: 31px;
    background: url(../images/cloud.png);
}